
<br>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<table>


    <tr align="left">
      <th colspan="15"><font size="6">  Translated products data {{rep_name}} </font></th>
    </tr>




    <tr>
      <th width="50%"><font size="4">sw score</font></th>
      <th width="50%"><font size="4">mili div</font></th>
      <th width="50%"><font size="4">mili del</font></th>
      <th width="50%"><font size="4">mili ins</font></th>
      <th width="50%"><font size="4">chromosome number</font></th>
      <th width="50%"><font size="4">geno start</font></th>
      <th width="50%"><font size="4">geno end</font></th>
      <th width="50%"><font size="4">geno left</font></th>
      <th width="50%"><font size="4">strand</font></th>
      <th width="50%"><font size="4">rep start</font></th>
      <th width="50%"><font size="4">rep end</font></th>
      <th width="50%"><font size="4">rep left</font></th>
      <th align="left" width="50%"><font size="4">DNA sequence</font></th>
      <th align="left" width="50%"><font size="4">Amino acid sequence</font></th>

    </tr>

    {% for info in rep_info %}
    <tr>
      <td width="50%"><font size="4">{{info.sw_score}}</font></td>
      <td width="50%"><font size="4">{{info.mili_div}}</font></td>
      <td width="50%"><font size="4">{{info.mili_del}}</font></td>
      <td width="50%"><font size="4">{{info.mili_ins}}</font></td>
      <td width="50%"><font size="4">{{info.geno_name}}</font></td>
      <td width="50%"><font size="4">{{info.geno_start}}</font></td>
      <td width="50%"><font size="4">{{info.geno_end}}</font></td>
      <td width="50%"><font size="4">{{info.geno_left}}</font></td>
      <td width="50%"><font size="4">{{info.strand}}</font></td>
      <td width="50%"><font size="4">{{info.rep_start}}</font></td>
      <td width="50%"><font size="4">{{info.rep_end}}</font></td>
      <td width="50%"><font size="4">{{info.rep_left}}</font></td>
      <td width="50%"><font size="4">{{info.dna_seq}}</font></td>
      <td width="50%"><font size="4">{{info.aa_seq}}</font></td>

    </tr>

{% endfor %}
  </table>




  <style>
  table, th , td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
  }
  table tr:nth-child(odd) {
    background-color: #E8E5F5;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  </style>
